<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soniu.mapper.ScheduleMapper">

	<select id="getListWithPaging"
		resultType="com.soniu.domain.Schedule_VO">
		<![CDATA[
		select theator_id, movie_id, start_time, end_time, schedule_id
		from ( select rownum rn,  theator_id, movie_id, start_time, end_time,schedule_id
		       from schedule 
		       where rownum <= #{pageNum} * #{amount}
		        )
		where rn > (#{pageNum} -1 ) * #{amount}
		]]>
	</select>

	<insert id="scheduleInsert">
		insert into schedule (theator_id, movie_id, start_time, end_time,schedule_id)
		values
		(#{theator_id}, #{movie_id}, TO_DATE(#{start_time},'yyyy-mm-dd hh24:mi:ss'), TO_DATE(#{end_time},'yyyy-mm-dd hh24:mi:ss'),schedule_seq.nextval)

	</insert>
	
	
	<insert id="movieInsert">
	insert into movie values (seq_movie.nextval,#{movie_nm}, #{movie_nm_en},#{genre},#{director},#{actor},#{nation},#{img_loc})
	</insert>
	
	<delete id="remove">
		delete from schedule where schedule_id = #{schedule_id}
	</delete>

</mapper>